* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Helvetica, sans-serif;
}

html,
body,
canvas {
  height: 100%;
}

body {
  overflow: hidden;
  display: grid;
  place-items: center;
}

canvas {
  background: linear-gradient(124deg, #2f3c39, #386f62);
  background-size: 400% 400%;
}

img {
  display: none;
}

#loading {
  position: absolute;
  font-size: 80px;
  color: #ffffff;

  &::after {
    position: absolute;
    inset: 0;
    color: #60c8af;
    mask: linear-gradient(
      90deg,
      transparent 0%,
      black 45% 55%,
      transparent 100%
    );
    mask-size: 200% 100%;
    animation: dots 2s infinite;
    content: "loading...";
  }
}

@keyframes dots {
  from {
    mask-position: 100% 0;
  }
  to {
    mask-position: -100% 0;
  }
}
