* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Helvetica, sans-serif;
}

html,
body,
canvas {
  height: 100%;
}

body {
  overflow: hidden;
  display: grid;
  place-items: center;
}

canvas {
  background: linear-gradient(124deg, #2f3c39, #386f62);
  background-size: 400% 400%;
}

img {
  display: none;
}

fieldset {
  position: absolute;
  top: 1rem;
  right: 1rem;
  display: grid;
  gap: 0.25rem;
  color: white;
  letter-spacing: 0.05em;
  border: none;

  label {
    width: 200px;
    opacity: 0.6;
    output {
      font-size: 0.9em;
    }
  }

  .controller-settings {
    display: grid;
    place-items: center;
    position: relative;

    .fake-range {
      --deadzone: 0.55;
      pointer-events: none;
      position: absolute;
      width: 100%;
      inset: 0;
      margin: auto;
      display: block;
      border: 1px solid;
      border-image: linear-gradient(to right, #000, transparent) 1;

      &::after {
        content: "";
        --br: calc(20px - (var(--deadzone) * 20px));
        position: absolute;
        background-color: red;
        inset: 0;
        width: max(10px, calc(var(--deadzone) * 100%));
        border-radius: 0 var(--br) var(--br) 0;
      }
    }

    input {
      cursor: pointer;
      opacity: 0;
      width: 100%;
    }
  }
}

#loading {
  position: absolute;
  font-size: 80px;
  color: white;

  &::after {
    position: absolute;
    inset: 0;
    color: #60c8af;
    mask: linear-gradient(
      90deg,
      transparent 0%,
      black 45% 55%,
      transparent 100%
    );
    mask-size: 200% 100%;
    animation: dots 2s infinite;
    content: "loading...";
  }
}

@keyframes dots {
  from {
    mask-position: 100% 0;
  }
  to {
    mask-position: -100% 0;
  }
}
